<section class="bg-zinc-900 p-20 rounded-xl m-4 mt-12">
  <h2 class="text-5xl font-bold my-5">About Us</h2>
  <p class="text-zinc-300">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente doloribus
    perspiciatis itaque in ipsa, debitis aspernatur suscipit cum fugiat ea
    tempore aliquam odio nesciunt quaerat quisquam eum tenetur unde eveniet!
  </p>
</section>
